@use "../../styles/partials/base/color";
@use "../../styles/partials/layout/display";

.button-circle {
  width: 4rem;
  background-color: color.$secondary;
  padding: 0.85rem;
  border-radius: 50%;
  box-shadow: 0.15rem 0.15rem 0.2rem 0.03rem rgba(0, 0, 0, 0.319);
  transition: background-color 0.4s ease-out;
  @include display.flexbox(row, center, center, wrap);

  &:hover {
    background-color: color.$secondary-hover;
  }

  &:active {
    background-color: color.$secondary-hover;
    transform: translate(0.15rem, 0.15rem);
    box-shadow: inset 0.1rem 0.1rem 0.2rem 0.03rem rgba(0, 0, 0, 0.319);
  }

  &__icon {
    height: 100%;
    width: 100%;
  }
}
