$dark: #353233;
$light: #fffaea;
$light-opaque: #fffaeae9;
$primary: #d1552b;
$primary-hover: #a42719;
$secondary: #e2c469;
$secondary-hover: #c4a444;
$accent-dark: #6cccc0;
$accent-light: #f3c5ac;
$grey: #c5bbb1;
