@use "../../styles/partials/layout/display";
@use "../../styles/partials/base/breakpoints";
@use "../../styles/partials/animations/appear";

.home {
  text-align: center;
  @include display.flexbox(column, center, center, wrap, 1rem);

  &__heading {
    font-size: 3rem;
    font-weight: 400;
    opacity: 0;
    animation: 3.5s ease 0.25s 1 appear forwards;
    transition: font-size 0.2s linear;

    @include breakpoints.medium-mobile {
      font-size: 3.4rem;
    }

    @include breakpoints.large-mobile {
      font-size: 5rem;
    }

    @include breakpoints.tablet {
      font-size: 5.5rem;
    }

    @include breakpoints.desktop {
      font-size: 6rem;
    }
  }

  &__subheading {
    font-family: "Caveat";
    font-size: 1.5rem;
    opacity: 0;
    animation: 4.5s ease 1.5s 1 appear forwards;
    transition: font-size 0.2s linear;

    @include breakpoints.medium-mobile {
      font-size: 1.75rem;
    }

    @include breakpoints.large-mobile {
      font-size: 2.6rem;
    }

    @include breakpoints.tablet {
      font-size: 2.8rem;
    }

    @include breakpoints.desktop {
      font-size: 3rem;
    }
  }
}
