@use "../../styles/partials/layout/display";
@use "../../styles/partials/base/color";
@use "../../styles/partials/base/typography";

.icon-card {
  @include display.flexbox(column, center, center, wrap);

  &__icon {
    height: 2.5rem;
  }

  &__name {
    color: color.$dark;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.5rem;
    letter-spacing: 0.12rem;
  }
}
