@use "../../styles/partials/layout/display";
@use "../../styles/partials/base/color";
@use "../../styles/partials/base/typography";

.icon-card {
  width: 3rem;
  padding-bottom: 0.25rem;
  @include display.flexbox(column, center, center, wrap);

  &__icon {
    height: 2rem;
  }

  &__name {
    @include typography.label;
  }
}
