@use "../../styles/partials/base/color";
@use "../../styles/partials/base/breakpoints";
@use "../../styles/partials/base/typography";
@use "../../styles/partials/layout/display";

.interests {
  margin: 2rem 0 6rem;
  padding: 1rem;
  width: 90%;
  height: 100%;
  border-radius: 0.3rem;
  background-color: color.$light-opaque;
  box-shadow: 0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.23);
  overflow-y: scroll;
  scrollbar-color: color.$primary transparent;

  @include breakpoints.large-mobile {
    margin: 2.5rem 0 9rem;
    padding: 1.5rem;
  }

  @include breakpoints.desktop {
    margin: 4rem 0 9rem;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }

  &__heading {
    @include typography.page-heading;
  }

  &__intro {
    @include typography.plain-text;
  }

  &__subheading {
    @include typography.section-heading;
  }

  &__details-container {
    @include display.flexbox(column, center, start, wrap);

    @include breakpoints.desktop {
      @include display.flexbox(row, space-between, start, wrap);
    }
  }

  &__details-card {
    @include breakpoints.desktop {
      width: 50%;
    }
  }

  &__details {
    @include typography.plain-text;

    &--emphasis {
      font-style: italic;
    }

    &--link {
      @include typography.plain-text-link;
    }
  }
}
