@use "../../styles/partials/base/color";
@use "../../styles/partials/base/breakpoints";
@use "../../styles/partials/base/typography";
@use "../../styles/partials/layout/display";

.interests {
  @include display.page-card;

  &__heading {
    @include typography.page-heading;
  }

  &__intro {
    @include typography.plain-text;
  }

  &__subheading {
    margin-bottom: 0.5rem;
    @include typography.section-heading;
  }

  &__details-container {
    @include display.flexbox(column, center, start, wrap);

    @include breakpoints.desktop {
      padding-top: 1rem;
      @include display.flexbox(row, space-between, start, wrap);
    }
  }

  &__details-card {
    @include breakpoints.desktop {
      width: 50%;
    }
  }

  &__details {
    @include typography.plain-text;

    &--emphasis {
      font-style: italic;
    }

    &--link {
      @include typography.plain-text-link;
    }
  }
}
